@model Hryhoriichuk.University.Instagram.Web.Models.Post

@{
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <img src="@Model.ImagePath" class="img-fluid" alt="Post Image">
            <p>@Model.Caption</p>
            <a asp-action="Index" asp-controller="MyProfile" class="btn btn-primary">Back to My Profile</a>
        </div>
    </div>
</div>
