@model Hryhoriichuk.University.Instagram.Web.Models.PostInfo

<div>
    <h3>Comments</h3>
    <ul>
        @foreach (var comment in Model.Comments)
        {
            <li>
                @if (comment.User != null)
                {
                    <span>@comment.User.UserName:</span> @comment.Text
                }
                else
                {
                    <span>Unknown User:</span> @comment.Text
                }
            </li>
        }
    </ul>
    <div class="comment-input">
        <form asp-action="AddComment" asp-controller="Profile">
            <input type="hidden" name="postId" value="@Model.Post.Id">
            <textarea class="form-control" name="commentText" rows="3" placeholder="Add a comment"></textarea>
            <button type="submit" class="btn btn-primary mt-2">Comment</button>
        </form>
    </div>
</div>
